<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CefSharp.Common" version="96.0.142" targetFramework="net47" />
  <package id="CefSharp.OffScreen" version="96.0.142" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net47" />
  <package id="cef.redist.x64" version="96.0.14" targetFramework="net47" />
  <package id="cef.redist.x86" version="96.0.14" targetFramework="net47" />
</packages>